<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="styles/style.css" />
        <link rel="stylesheet" href="styles/1600-1450.css">
        <link rel="stylesheet" href="styles/swiper-bundle.min.css">
        <link rel="stylesheet" href="styles/carousel.css">
        <meta name="viewport" content="width=device-width">
        <meta name="HandheldFriendly" content="true" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="../dist/output.css" rel="stylesheet">
    </head>
    <body>
        {{{body}}}
    </body>
</html>